[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Comment=Actualizar
Icon=update.png
Name=Aplicación para actualizar el sistema
Exec=keepUp.sh
Name[es]=Actualizador
Name[es_ES]=Updater&Cleaner
